
section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 59, 59);
    height: 100vh;
}

section h1{
    color: white;
    letter-spacing: 0.2rem;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Stardos Stencil', cursive;
}
